html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body,
html {
  height: 100%;
}

img,
fieldset,
a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

a {
  text-decoration: none;
}

.api-container {
  width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}

.api-container-fluid {
  min-width: 1024px;
  width: 100%;
  box-sizing: border-box;
}

.main-container {
  margin-top: 50px;
}

.btn {
  display: block;
  margin-top: 20px;
}

.controls {
  margin-top: -20px;
}

.console {
  height: 395px;
  overflow: hidden;
}

.title {
  margin-bottom: 50px;
}

#lexicalAnalyzer {
  padding-top: 20px;
}

.tabs-container {
  height: 500px;
  overflow-y: scroll;
}

.error-msg {
  color: red;
}

.succsess-msg {
  color: green;
}

.console-body {
  overflow-y: scroll;
  height: 100%;
}

.common-poliz {
  text-align: center;
  color: blue;
  font-size: 20px;
}

.btn {
  width: 150px;
}
