<div class="nps-stacked-bar">
    <svg ng-attr-height="{{ model.getHeight() }}" ng-attr-width="{{ model.getWidth() }}" class="pie-chart chart"
         reference-dom-as="viewport"
         svg-view-box="{{ viewport | domElementBoundigBox | boundigBoxToSvgViewBox }}">
    </svg>
    <div class="color-picker-mount-point"></div>
    <slider
        class="chart-slider"
        ng-show="slider"
        values="rangeValues"
        ng-model-low="rangeLow"
        ng-model-high="rangeHigh"
        slider-auto-resize-on="resize"
    ></slider>
    <chart-legend
        disable="disableOrder || readOnly"
        legend-items="groups"
        on-item-order-change="onLegendOrderChange"
        on-item-label-change="onLabelChange"
        on-item-color-change="onColorChange"
        on-item-mouseover="onLegendOver"
        on-item-mouseout="onLegendOut"
    ></chart-legend>
</div>
